/* Global Styles */

body {
	font-family: 'Roboto Slab', sans-serif;
	color: #2d3843;
}

a {
	text-decoration: none;
}

.content {
	margin: 0 auto;
	padding: 50px 0;
	width: 80%;
	text-align: center;
}

.logo {
	width: 150px;
}

.text {
	line-height: 1.5;
}

.text-link {
	color: #000;
	border-bottom: 2px solid #000;
}

.social-icons {
	margin: 40px 0;
}

.social-icons a {
	display: inline-block;
	margin: 0 15px;
}

@media screen and (min-width: 650px) {
	.content {
		max-width: 600px;
		padding: 100px 0;
	}

	.logo {
		width: 200px;
	}

}