---
title: Jessica Agyemang | Front-End Developer
---

      <section class="block intro">
        <div class="intro-text">
          <h1>Hello, I'm Jessica.</h1>
          <p class="intro-sentence">I'm a front-end developer with an eye for design and a passion for writing clean, readable, and reusable code.</p>
          <a href="/about/">Read more <span>(insert arrow icon)</span></a>
        </div>
      </section>

      <section class="work fullbleed">
        {% for project in site.data.work %}
        {% for item in project.items %}
        <a href="{{ item.page }}" class="project-link">
        {% endfor %}
          <div class="project-thumbnail"></div>
        </a>
        {% endfor %}
      </section>
