
		<div tabindex="-1" class="body-overlay"></div>

		<main class="main">
			
			<!-- <section class="block intro"> -->
			<header class="header">
				<a href="/" class="logo-link" tabindex="0">
				<svg class="jo-logo" role="img" aria-label="Jessica Osei logo" data-name="Layer 1" fill="#444444" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357.21 413"><defs><style>.cls-1{font-size:120px;font-family:Roboto Slab;}.cls-2{letter-spacing:-3px;}.cls-3,.cls-4{fill:none;}.cls-3{stroke:#444444;stroke-miterlimit:10;stroke-width:10px;}</style></defs><title>Jessica Osei logo</title><text class="cls-1" transform="translate(101.36 249.26)"><tspan class="cls-2">J</tspan><tspan x="65.8" y="0">O</tspan></text><polygon class="cls-3" points="179 6.8 352.2 106.8 352.2 306.8 179 406.8 5.79 306.8 5.79 106.8 179 6.8"/><rect id="_Slice_" data-name="&lt;Slice&gt;" class="cls-4" width="357" height="413"/></svg>
		    </a>

		    {% include nav.html %}
		  </header>