
.hero-block {
	height: 520px;
	min-height: 100vh;
}

.block-text {
	position: absolute;
	top: 60%;
	right: 45px;
	left: 45px;
	transform: translateY(-60%);
}

.block-paragraph {
	margin-bottom: 16px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

.block-text-link {
	color: #444444;
	font-weight: 600;

	&:hover {
		text-decoration: underline;
	}
}

@media screen and (min-width: 550px) {

	.hero-block {
		height: 560px;
		min-height: initial;
	}

	.block-text {
		position: static;
		max-width: 480px;
		margin: 120px 0;
		transform: none;
	}

}

@media screen and (min-width: 960px) {

	.block-text {
		max-width: 550px;
	}

	.block-paragraph {
		font-size: 18px;
	}
}