
/* Work Styles */

.work {
	@include layout-flex;
	@include layout-horizontal;
	@include layout-wrap;
}

.project-link {
	display: block;
	width: 50%;
	background-color: #999999;
}

.project-thumbnail {
	width: 100%;
	padding-bottom: 100%;
	background-color: #000000;
}

.project-link:hover  .project-thumbnail {
	background-color: #555555;
}


@media screen and (min-width: 550px) {

	/* Intro Styles */

	.main {
		position: relative;
		max-width: 1440px;
		margin: 50px 75px 0;
		background-color: #ffffff;
	}
}

@media screen and (min-width: 960px) {
	.project-link {
		width: 33.333%;
	}

	.project-thumbnail {
		width: 100%;
		padding-bottom: 100%;
		background-color: #000000;
	}
}
