
.hero-heading {
	font-size: 28px;
	font-weight: 400;
}

/* Work Styles */

.work {
	&:after {
		content: '';
		display: block;
		height: 0;
		clear: both;
	}
}

.project-link {
	position: relative;
	display: block;
	float: left;
	width: 50%;
	background-size: cover;
	background-position: center;

	.project-thumbnail-hover {
		width: 100%;
		padding-bottom: 100%;
		background-color: rgba(244, 244, 241, .24);
		opacity: 1;
		transition: opacity .3s cubic-bezier(.65, 0, .39, .99);
	}

	&:hover .project-thumbnail-hover {
		opacity: 0;
	}

	&:hover .project-logo {
		opacity: 1;
	}
}

.project-logo {
	opacity: 0;
	transition: opacity .3s cubic-bezier(.65, 0, .39, .99);
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	display: inline-block;
	width: 60%;
	margin: auto;
	transform: translateY(-50%);
}

.project-yt-originals {
	background-image: url('../images/yt-originals/yt-originals-unicorn-island-header.jpg');
}

.project-fiber-partner {
	background-image: url('../images/google-fiber-tech-partner/google-fiber-get-help.jpg');
}

.project-fiber-business {
	background-image: url('../images/google-fiber-small-business/google-fiber-business-hero.jpg');
}

.project-hex {
	background-image: url('../images/to-hex-and-back/hex-page-blue.jpg');
}

@media screen and (min-width: 550px) {

	/* Intro Styles */

	.main {
		position: relative;
		max-width: 1280px;
		margin: 50px 75px 0;
		background-color: #ffffff;
	}

	.project-link {
		width: 50%;
	}

	.project-logo {
		width: 65%;
		max-width: 185px;
	}
}

@media screen and (min-width: 960px) {

	.hero-heading {
		font-size: 32px;
	}

	.project-link {
		width: 33.333%;
	}
}

@media screen and (min-width: 1280px) {
	.project-logo {
		max-width: 200px;
	}
}
