<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	  <title>{{ page.title }}</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name="description" content="{{ site.description }}">

		<!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <!-- Base Fonts -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600|Roboto+Slab:300,400">

		<!-- Styles -->
		<link rel="stylesheet" href="{{ site.url }}/css/normalize.css">
		<link rel="stylesheet" href="{{ site.url }}/css/style.css">

		<!-- ES6 Promise Polyfill -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.0/es6-promise.auto.min.js"></script>
	</head>
	<body>

		{% include header.html %}

			{{ content }}

		{% include footer.html %}

		<script src="{{ site.url }}/js/nav.js"></script>
		{% if page.type == 'project' %}
		<script src="{{ site.url }}/js/lightbox.js"></script>
		{% endif %}
	</body>
</html>