

.fiber-partner-images {

	.project-image-container:nth-child(1) {
		background-image: url('../../images/google-fiber-tech-partner/google-fiber-get-badge.jpg');
		background-size: cover;
		background-position: center;
	}

	.project-image-container:nth-child(2) {
		background-color: #afc3cf;
	}

	.project-image-container:nth-child(3) {
		background-color: #cbdce6;
	}

	.project-image-container:nth-child(4) {
		background-image: url('../../images/google-fiber-tech-partner/google-fiber-get-help.jpg');
		background-size: cover;
		background-position: top center;
	}

	.project-image-container:nth-child(5) {
		background-color: #98b9cd;
	}
}

