

.to-hex-images {

	.project-image-container:nth-child(1) {
		background-color: #f6f7f9;
	}

	.project-image-container:nth-child(2) {
		background-color: #adbdd1;
	}

	.project-image-container:nth-child(3) {
		background-color: #ced7e3;
	}

	.project-image-container:nth-child(4) {
		background-color: #e6eaef;
	}
}

