

.yt-originals-images {

	.project-image-container:nth-child(1) {
		background-image: url('../../images/yt-originals/yt-originals-unicorn-island-header.jpg');
		background-size: cover;
		background-position: center;
	}

	.project-image-container:nth-child(2) {
		background-color: #e6b5b3;
	}

	.project-image-container:nth-child(3) {
		background-color: #e2d0cf;
	}

	.project-image-container:nth-child(4) {
		background-color: #eec6c4;
	}

	.project-image-container:nth-child(5) {
		background-color: #e8b3b0;
	}

}

