

.yt-originals-images {

	.project-image-container:nth-child(1) {
		background-image: url('../../images/yt-originals/yt-originals-unicorn-island-header.jpg');
		background-size: cover;
		background-position: center;
	}

	.project-image-container:nth-child(2) {
		background-color: #dca4a3;
	}

	.project-image-container:nth-child(3) {
		background-color: #dbbebd;
	}

	.project-image-container:nth-child(4) {
		background-color: #e2d0cf;
	}

	.project-image-container:nth-child(5) {
		background-color: #cf9996;
	}

}

